<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: navbar"></div>

    <div class="p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">반갑습니다.</h1>
            <p class="lead my-4"> 이 사이트에선 여러 게시판들을 이용하실 수 있습니다</p>
        </div>
    </div>

    <div class="container" style="margin-top:70px ">
        <div class="row">
            <th:block th:each="mainContentList : ${mainContentList}">
            <div class="col-lg-6" style="margin-top:50px">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">
                            <th:block th:text="${boardList[mainContentListStat.index].board_info_name}"/>
                        </h4>
                        <table class="table table-hover" id='board_list'>
                            <thead>
                            <tr>
                                <div class="row">
                                    <th class="col-7 text-center ">제목</th>
                                    <th class="text-center w-25" >작성자</th>
                                    <th class="text-center w-25">작성날짜</th>
                                </div>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="obj : ${mainContentList}">
                                <tr>
                                    <th class="text-center">
                                        <a th:class="link-secondary" th:href='@{/board/read(board_info_idx=${boardList[mainContentListStat.index].board_info_idx}, content_idx=${obj.content_idx}, page=1)}'>
                                            <th:block th:text="${obj.content_subject}">제목</th:block>
                                        </a>
                                    </th>
                                    <td class="text-center">
                                        <th:block th:text="${obj.content_writer_name}">작성자</th:block>
                                    </td>
                                    <td class="text-center">
                                        <th:block th:text="${obj.content_date}">작성날짜</th:block>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/board/main(board_info_idx=${boardList[mainContentListStat.index].board_info_idx})}" class="btn btn-secondary">더보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>